.seats {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    height: 80vh;
    margin-top: 2em;
}

.seat, .menu > div > div {
    width: 4em;
    height: 4em;
    border: 1px black solid;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(20vh - 2em);
}

.menu > div {
    display: flex;
    align-items: center;
}

.menu > div > div {
    margin-right: 1em;
}

.seatsPage {
    display: none;
    width: 90vw;
}

.success {
    display: none;
}